div{
    margin-left: 1px;
    margin-right: 1px;
}

img{
    width: 15%;
    height: 15%;
    vertical-align: middle;
    border:2px solid;
    border-color: black;
    margin-top: 2px
}

footer{
    background:rgb(236, 231, 231);
    border-top:2px solid;
    text-align: center;
    clear:both;
    height:100px;
    padding:5px 0;
    width:100%;
    bottom: 0px;
    left: 0px;       
    border-color: black     
}

form{
    clear: both;
    padding: 80px 80px;
    margin-top: 2%;
    margin-bottom: 2%;
    border:2px solid;
    list-style:none; 
    float:left;
    padding-right: 10%
}

input {
    width: 100%;
    padding: 12px 150px;
    margin: 8px 0;
    box-sizing: border-box;
}

textarea {
    width: 400px;
    height: 200px;
    padding: 12px 20px;
    
  }

.borderDiv{
    border-top: 2px solid;
    margin:10px 0px 3px 0px;
}

.corpo{

    padding: 3.8% 6%;
    margin-top: 2%;
    margin-bottom: 2%;
    border:2px solid;
    list-style:none; 
    float:right;
    padding-right: 10%
}

.menu {
    padding: 80px 80px;
    margin-top: 0.1%;
    border:2px solid;
    list-style:none; 
    float:right;
    padding-right: 10%
}

.title {
    padding: 80px 250px 80px;
    margin-top: 0.1%;
    margin-left:10%;
    border:2px solid;
    list-style:none; 
    float:left;
    clear: both;
    padding-right: 10%
}

.photo {
    margin-left: 10%;
    margin-right: 10%;
    width: 28.5%;
    height: 29%;
    margin-top: 0.1%;
    margin-right: 7px;
    border:2px solid;
    list-style:none; 
    float:initial;
}

.conteiner{
    margin-top: 10px;
    padding:300px 10px 300px 10px;
    border: solid;
}

.menu li{

    float:left; 
    font-size: 25px
}

.menu li a{color:#333; text-decoration:none; padding:5px 10px; display:block;}

.menu li a:hover{
    
    background:#333; 
    color:#fff; 
    text-shadow:0px 0px 5px #fff; 
}







